.node {
  width: var(--width);
  height: var(--height);
  border: 1px solid rgb(175, 216, 248);
  /*   outline: 0.2px solid rgb(175, 216, 248); */
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.node-finish-reached {
  animation-name: finishVisitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-wall {
  width: var(--width);
  height: var(--height);
  background-color: rgb(2, 36, 51);
  border: 1px solid rgb(2, 36, 51);
  display: inline-block;
}

.node-wall-animated {
  width: var(--width);
  height: var(--height);
  display: inline-block;
  animation-name: wallAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-shortest-path {
  animation-name: shortestPathAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.4);
    background-color: rgb(2, 36, 51);
    border-radius: 30%;
  }

  50% {
    transform: scale(0.6);
    background-color: rgb(2, 36, 51);
    border-radius: 20%;
  }

  75% {
    transform: scale(0.8);
    background-color: rgb(2, 36, 51);
    border-radius: 10%;
  }

  100% {
    transform: scale(1);
    background-color: rgb(2, 36, 51);
    border: 1px solid rgb(2, 36, 51);
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(255, 0, 255);
    border-radius: 100%;
  }

  50% {
    transform: scale(0.5);
    background-color: rgba(10, 55, 95, 0.75);
    border-radius: 75%;
  }

  75% {
    transform: scale(0.7);
    background-color: rgba(20, 110, 140, 0.75);
    border-radius: 50%;
  }

  100% {
    transform: scale(1);
    background-color: rgba(30, 165, 185, 0.75);
  }
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(255, 0, 255, 0.75);
    border-radius: 100%;
  }

  50% {
    transform: scale(0.5);
    background-color: rgba(255, 0, 255, 0.75);
    border-radius: 75%;
  }

  75% {
    transform: scale(0.7);
    background-color: rgba(255, 0, 255, 0.75);
    border-radius: 50%;
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 0, 255, 0.75);
  }
}

@keyframes finishVisitedAnimation {
  0% {
    transform: scale(0.5);
    background-color: red;
    border-radius: 50%;
  }

  50% {
    transform: scale(0.8);
    background-color: red;
    border-radius: 25%;
  }

  75% {
    transform: scale(1.2);
    background-color: red;
    border-radius: 20%;
  }

  100% {
    transform: scale(1);
    background-color: red;
  }
}
