.navbar > .navbar-brand:hover,
.navbar > .navbar-brand:focus {
  color: rgb(175, 216, 248);
}

.navbar-brand {
  margin-right: 35px;
}

.btn {
  margin-right: 35px;
  padding: 5px 5px;
}

.dropdown-menu {
  margin-right: 35px;
  background-color: #343a40;
}

.dropdown-item {
  color: white;
}

@media (max-width: 1250px) {
  .navbar-brand {
    margin-right: 25px;
  }
  .btn {
    margin-right: 25px;
    padding: 5px 5px;
  }
  .dropdown-menu {
    margin-right: 25px;
    background-color: #343a40;
  }
}

@media (max-width: 1100px) {
  .navbar-brand {
    font-size: 15px;
    margin-right: 30px;
  }
  .btn {
    font-size: 15px;
    margin-right: 30px;
    padding: 2px 4px;
  }
  .dropdown-menu {
    font-size: 15px;
    margin-right: 30px;
    background-color: #343a40;
  }
}

@media (max-width: 950px) {
  .navbar-brand {
    font-size: 14px;
    margin-right: 20px;
  }
  .btn {
    font-size: 14px;
    margin-right: 20px;
  }
  .dropdown-menu {
    font-size: 14px;
    margin-right: 20px;
    background-color: #343a40;
  }
}

@media (max-width: 770px) {
  .navbar-brand {
    font-size: 12px;
    margin-right: 10px;
  }
  .btn {
    font-size: 12px;
    margin-right: 10px;
  }
  .dropdown-menu {
    font-size: 12px;
    margin-right: 10px;
    background-color: #343a40;
  }
}

@media (max-width: 635px) {
  .navbar-brand {
    font-size: 11px;
    margin-right: 6px;
  }
  .btn {
    font-size: 11px;
    margin-right: 6px;
  }
  .dropdown-menu {
    font-size: 11px;
    margin-right: 6px;
    background-color: #343a40;
  }
}

@media (max-width: 575px) {
  .navbar-brand {
    font-size: 9px;
  }
  .btn {
    font-size: 9px;
    margin-right: 6px;
    border: none;
    padding: 4px;
  }
  .dropdown-menu {
    font-size: 10px;
    margin-right: 8px;
    border: none;
    background-color: #343a40;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 8px;
    margin-top: 4px;
  }
  .btn {
    font-size: 8px;
    margin-right: 4px;
    border: none;
    padding: 2px 2px;
  }
  .dropdown-menu {
    font-size: 9px;
    margin-right: 4px;
    border: none;
    background-color: #343a40;
  }
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: 6px;
    margin-top: 4px;
  }
  .btn {
    font-size: 7px;
    margin-right: 2px;
    border: none;
    padding: 2px 2px;
  }
  .dropdown-menu {
    font-size: 8px;
    left: -20px;
    border: none;
    background-color: #343a40;
  }
}
